:root {
  --turquoiseCard: #57ddec;
  --greyCard: #7d90b6;
  --tangerine: #feb06a;
  --cream: #fbf6f3;
  --coral: #aa2626;
}

.regular-card {
  background-color: var(--greyCard);
  color: var(--cream);
  box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.63);
  margin-bottom: 30px;
}

.card:hover{
  background-color: var(--turquoiseCard);
}

.card-info {
  color: var(--grey);
}

.card-info span {
  color: var(--tangerine);
}

.score {
  color: #aa2626;
}
