:root {
  --turquoiseCard: #57ddec;
  --greyCard: #7d90b6;
  --tangerine: #feb06a;
  --cream: #fbf6f3;
  --coral: #ef3340;
}

.search-card {
  background-color: white;
  color: var(--cream);
}

.search-card .card-body {
  padding: 5px;
}

.platform-col {
  padding: 0;
}

.card:hover {
  background-color: var(--turquoiseCard);
}

.card-info {
  color: var(--grey);
}

.card-info span {
  color: var(--tangerine);
}

.badge {
  color: var(--coral) !important;
}


