.regular-card {
  background-color: var(--greyCard);
  color: var(--cream);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.regular-card:hover{
  background-color: var(--cream);
}

/* .card-info {
  color: rgb(235, 8, 8);
} */

.card-info span {
  color: var(--tangerine);
}

.score {
  color: #aa2626;
}

.card-title{
  font-weight: 600;
  color: var(--grey);
}