
.search-card {
  background-color: var(--cream);
  color: var(--cream);
  border: none;
}

.search-card .card-body {
  padding: 5px;
}

.platform-col {
  padding: 0;
}

.search-card:hover {
  background-color: var(--greyCard);
   box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.63);
}

.card-info {
  color: var(--grey);
}

/* .card-info span {
  color: var(--tangerine);
} */

.badge {
  color: var(--coral) !important;
}

.search-img{
  width: 70%;
}

.publisher-date-row{
  margin-bottom: 0;
}