
.nav-item a {
  color: var(--turquoise);
}

.userActive {
  font-weight: bold;
  z-index: 3;
  padding-bottom: 1.1vh;
  border-bottom: 3px solid var(--tangerine);
}

.nav {
  border-bottom: 1px solid var(--grey);
  padding-top: 10vh;
  padding-bottom: 1vh;
}
